<div class="modal fade text-gray-800" id="issue-modal-{{book.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">New Book Issue</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="POST">
				{{form.csrf_token}}
				<div class="modal-body ui-front">
						<div class="form-group">
							{{form.username.label(class="col-form-label")}}
							{{form.username(class="form-control", placeholder='Search for any member', id='search')}}
							{{form.deadline.label(class="col-form-label")}}
							{{form.deadline(class="form-control")}}
						</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Issue</button>
				</div>
			</form>
		</div>
	</div>
</div>