<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %} Library Management {% endblock %}</title>

		<link
			href="{{ url_for('static', filename = 'css/all.min.css') }}"
			rel="stylesheet"
			type="text/css"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
			rel="stylesheet"
		/>
		<link
			href="{{ url_for('static', filename = 'css/sb-admin-2.min.css') }}"
			rel="stylesheet"
			type="text/css"
		/>
		<link
			href="{{ url_for('static', filename = 'css/main.css') }}"
			rel="stylesheet"
			type="text/css"
		/>
		<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename = 'img/favicon.ico') }}">
		<!-- Page specific css-->

		{% block custom_css %}{% endblock custom_css %}
	</head>
	<body id="page-top">
		<div id="wrapper">
			{% include 'sidebar.html' %}
			<div id="content-wrapper" class="d-flex flex-column">
				<div id="content">
					<!-- Navbar -->
					{% include 'navbar.html' %}

					<div class="container-fluid">

						<!-- Alerts -->
						{% with messages = get_flashed_messages(with_categories=true) %} 
						{% if messages %} 
						{% for category, message in messages %}
							<div class="alert alert-{{ category }}">
							<button
								type="button"
								class="m1-2 mb-1 close"
								data-dismiss="alert"
								aria-label="Close"
							>
								<span aria-hidden="true">&times;</span>
							</button>
							{{ message }}
						</div>
						{% endfor %} 
						{% endif %} 
						{% endwith %} 
						<!-- End Alerts -->
						<!-- Main Code -->
						{% block content %} 
						{% endblock %}
						<a class="scroll-to-top rounded" href="#page-top">
							<i class="fas fa-angle-up"></i>
						</a>
					</div>
				</div>
			<!-- Footer -->
			{% include 'footer.html' %}
			
			</div>
		</div>
		<!-- Bootstrap core JavaScript-->
		<script src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename = 'js/bootstrap.bundle.min.js') }}"></script>

		<!-- Core plugin JavaScript-->
		<script src="{{ url_for('static', filename = 'js/jquery.easing.min.js') }}"></script>

		<!-- Custom scripts for all pages-->
		<script src="{{ url_for('static', filename = 'js/sb-admin-2.js') }}"></script>

		<!-- Page level custom scripts -->
		{% block custom_js %}
		{% endblock custom_js %}
	</body>
</html>
