<nav
		class="
			navbar navbar-expand navbar-light
			bg-white
			topbar
			mb-4
			static-top
			shadow"
>
	<div class="form-inline">
		<button
			id="sidebarToggleTop"
			class="btn btn-link d-md-none rounded-circle mr-3"
		>
			<i class="fa fa-bars"></i>
		</button>
	</div>
	<ul class="navbar-nav ml-auto">

		<div class="topbar-divider d-none d-sm-block"></div>

		<li class="nav-item dropdown no-arrow">
			<a
				class="nav-link dropdown-toggle"
			>
				<span class="mr-2 d-none d-lg-inline text-gray-600 small"
					>Librarian</span
				>
			</a>
		</li>
	</ul>
</nav>