<!-- Sidebar -->
<ul
	class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
	id="accordionSidebar"
>
	<!-- Sidebar - Brand -->
	<a
		class="sidebar-brand d-flex align-items-center justify-content-center"
		href="{{url_for('dashboard_view')}}"
	>
		<div class="sidebar-brand-icon rotate-n-15">
			<i class="fa fa-book"></i>
		</div>
		<div class="sidebar-brand-text mx-3">Library Management</div>
	</a>

	<!-- Divider -->
	<hr class="sidebar-divider my-0" />

	<!-- Nav Item - Dashboard -->
	<li class="nav-item">
		<a class="nav-link" 
			href="{{url_for('dashboard_view')}}">
			<i class="fas fa-fw fa-tachometer-alt"></i>
			<span>Dashboard</span></a
		>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider" />

	<!-- Heading -->
	<div class="sidebar-heading">Add Data</div>

	<!-- Nav Item - Pages Collapse Menu -->
	<li class="nav-item">
		<a
			class="nav-link collapsed"
			href="{{url_for('book_add_view')}}"
		>
			<i class="fas fa-fw fa-cog"></i>
			<span>Add Book</span>
		</a>
	</li>

	<li class="nav-item">
		<a
			class="nav-link collapsed"
			href="{{url_for('book_import_view')}}"
		>
			<i class="fas fa-fw fa-cog"></i>
			<span>Import Books</span>
		</a>
	</li>

	<!-- Nav Item - Utilities Collapse Menu -->
	<li class="nav-item">
		<a
			class="nav-link collapsed"
			href="{{url_for('member_add_view')}}"
		>
			<i class="fas fa-fw fa-wrench"></i>
			<span>Add Member</span>
		</a>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider" />

	<!-- Heading -->
	<div class="sidebar-heading">Details</div>

	<li class="nav-item">
		<a
			class="nav-link"
			href="{{url_for('book_list_view')}}"
		>
			<i class="fas fa-fw fa-folder"></i>
			<span>Book List</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="{{url_for('member_list_view')}}">
			<i class="fas fa-fw fa-chart-area"></i>
			<span>Member List</span></a
		>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="{{url_for('transaction_list_view')}}">
			<i class="fas fa-fw fa-table"></i>
			<span>Transactions</span></a
		>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block" />

	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>
</ul>
<!-- End of Sidebar -->
